<body>
    <div class="profileEdit container">
    
        <div class="card" style="width: 35rem;">
            <div class="card-body">
              <h5 class="card-title">Edit Profile</h5>
             
              
                <form #registerForm="ngForm" (ngSubmit)="profileEdit()">
    
                    <div class="form-group" >
                        <label>Favorite sport</label>
                        <input type="text" class="form-control" name = "favorite_sport"   [(ngModel)]="userForm.favorite_sport" placeholder="{{userForm.favorite_sport}}" required>
    
                        <label>Description</label>
                        <input type="text" class="form-control" name = "description"   [(ngModel)]="userForm.description" placeholder="{{userForm.description}}" required>
    
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid"> Update Account</button>
                    <button (click)="back()" class="back-button">back</button>
                </form>
    
            </div>
          </div>
    </div>
    </body>