<body>
    <div class="profileEdit container">
    
        <div class="card" style="width: 35rem;  background-color: #b6bce180">
            <div class="card-body">
              <h5 class="card-title">Edit Profile</h5>
             
              
                <form #registerForm="ngForm" (ngSubmit)="profileEdit()">
    
                    <div class="form-group" >
                        <div class="input-container">
                            <label>Profile Picture ID</label>
                            <input type="number" class="form-control" name="profileID" [(ngModel)]="userForm.profileID" placeholder="{{userForm.profileID}}" required min="1" max="20">
                            <img *ngIf="userForm.profileID" [src]="'assets/ProfilePics/profilePic' + userForm.profileID + '.png'" alt="Profile Picture" class="profile-picture">
                        </div>
                        
                        <label>Favorite sport</label>
                        <input type="text" class="form-control" name = "favorite_sport"   [(ngModel)]="userForm.favorite_sport" placeholder="{{userForm.favorite_sport}}" required>
    
                        <label>Description</label>
                        <input type="text" class="form-control" name = "description"   [(ngModel)]="userForm.description" placeholder="{{userForm.description}}" required>
    
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid"> Update Account</button>
                    <button (click)="back()" class="back-button">back</button>
                </form>
    
            </div>
          </div>
    </div>
    </body>