body {
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profileEdit.container {
  max-width: 600px;
}

.card.profile-edit-card {
  width: 35rem;
  background-color: #ffffff;
}

.card-title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.input-container {
  position: relative;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.btn-primary {
  background-color: #e33131;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.btn-primary:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn-primary:hover {
  background-color: #c12626;
  transform: scale(1.05);
}

.back-button {
  background-color: transparent;
  border: none;
  color: #e33131;
  cursor: pointer;
  margin-top: 1rem;
  transition: color 0.2s;
}

.back-button:hover {
  color: #c12626;
}
