.profileEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
}

.profile-picture {
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}

.back-button {
  position: absolute;
  bottom: 18px;
  right: 25px;
}
