<div class="signUp container">
    <div class="card" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form #registerForm="ngForm" (ngSubmit)="Login()">
  
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="userForm.email" placeholder="Enter your Email">
  
            <label>Password</label>
            <div class="password-input">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control"
                name="password"
                [(ngModel)]="userForm.password"
                placeholder="Enter your Password"
                required
              />
              <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
                {{ showPassword ? 'Hide' : 'Show' }} Password
              </button>
            </div>
          </div>
          <br />
          <button class="btn btn-primary">Sign In</button>
        </form>
      </div>
    </div>
  </div>
  