body {
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .signUp.container {
    display: flex;
    /* justify-items: center; */
    justify-content: center;
}
.password-input {
  position: relative;
}

.password-toggle {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 14px;
  color: #007bff;
}
