h1 {
    text-align: center;
    background-color: #ccc;
  }
  
  h2 {
    text-align: center;
  }

  .event-details {
    text-align: center;
  }

.col-md-4 {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 10px;
}
  
.col-md-4 h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
  
.col-md-4 ul {
  list-style-type: none;
  padding: 0;
}
  
.col-md-4 li {
  margin-bottom: 10px;
}

.col-md-2 {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 10px;
}
  
.col-md-2 h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
  
.col-md-2 ul {
  list-style-type: none;
  padding: 0;
}
  
.col-md-2 li {
  margin-bottom: 10px;
}