.event-page {
  background-color: #f2f2f2;
}
 .heading {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 25%;
  margin-left: 25%;
  padding: 10px;
  text-align: center;
 }
 
 .event-details, h2 {
  text-align: center;
 }

 .stats-list {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
 }

 .stats-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: center;
 }

 .stats-item:last-child {
  border-bottom: none;
 }

 .timeline-list {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
 }

 .timeline-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  padding-left: 10%;
  text-align: left;
 }

 .timeline-item:last-child {
  border-bottom: none;
 }

 .lineup-list {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
 }

 .lineup-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: left;
 }

 .lineup-item:last-child {
  border-bottom: none;
 }

.row {
  margin-right: 2%;
  margin-left: 2%;
}