<div class="event-page" *ngIf="eventDetails">
    
    <h1 class="heading" *ngIf="eventDetails.strStatus == 'Match Finished' ">
      {{ eventDetails.strAwayTeam }} {{ eventDetails.intAwayScore }} - {{ eventDetails.intHomeScore}} {{ eventDetails.strHomeTeam}}
    </h1>
    <h1 class="heading" *ngIf="eventDetails.strStatus != 'Match Finished' ">
        {{ eventDetails.strEventAlternate }}
    </h1>
    <div class="event-details">
      <p>
        <strong *ngIf="eventDetails.strSport">Sport:</strong> {{ eventDetails.strSport }}
        <strong *ngIf="eventDetails.strLeague">League:</strong> {{ eventDetails.strLeague }}
        <strong *ngIf="eventDetails.strSeason">Season:</strong> {{ eventDetails.strSeason }}
        <strong *ngIf="eventDetails.strTimeLocal">Time:</strong> {{ eventDetails.strTimeLocal }}
      </p>
    </div>


    <div class="row">
    <div class="col-md-4" *ngIf="stats">
        <h2>Stats</h2>
        <ul class="stats-list">
            <li class="stats-item" *ngFor="let stat of stats">
                <strong>{{stat.strStat}}</strong> <br>
                {{ eventDetails.strAwayTeam }} - {{ stat.intAway }} | {{ stat.intHome }} - {{ eventDetails.strHomeTeam }}
            </li>
        </ul>


    </div>
    <div class="col-md-4" *ngIf="timeline">
        <h2>Timeline</h2>
        <ul class="timeline-list">
            <li class="timeline-item" *ngFor="let event of timeline">
                <strong>{{ event.strTimelineDetail }}</strong> - {{ event.intTime }}'  for <strong>{{ event.strPlayer }}</strong>
            </li>
        </ul>

    </div>
    <div class="col-md-4" *ngIf="lineup">
        <h2>Lineup</h2>
        <ul class="lineup-list">
            <li class="lineup-item" *ngFor="let player of lineup">
                {{ player.strTeam }} {{ player.strPosition }}: {{ player.strPlayer }} #{{ player.intSquadNumber }}
            </li>
        </ul>

    </div>
    </div>
    <div class="tv" *ngIf="tv">
    </div>
</div>
