<div class="container">
  <h2>THE MONEY MACHINE</h2>
  <p>Points: {{ userForm.points }}</p>

  <div class="slots">
    <div class="reel">
      <img src="../../assets/SlotMachine/reel.png" class="reel-image" id="reel-image-1" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-1" id="rolling_reel-image-1" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-11" id="rolling_reel-image-11" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-12" id="rolling_reel-image-12" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-13" id="rolling_reel-image-13" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-14" id="rolling_reel-image-14" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-15" id="rolling_reel-image-15" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-16" id="rolling_reel-image-16" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-17" id="rolling_reel-image-17" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-18" id="rolling_reel-image-18" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-19" id="rolling_reel-image-19" style="display: none;" />
    </div>
    <div class="reel">
      <img src="../../assets/SlotMachine/reel.png" class="reel-image" id="reel-image-2" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-2" id="rolling_reel-image-2" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-11" id="rolling_reel-image-21" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-12" id="rolling_reel-image-22" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-13" id="rolling_reel-image-23" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-14" id="rolling_reel-image-24" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-15" id="rolling_reel-image-25" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-16" id="rolling_reel-image-26" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-17" id="rolling_reel-image-27" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-18" id="rolling_reel-image-28" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-19" id="rolling_reel-image-29" style="display: none;" />
    </div>
    <div class="reel">
      <img src="../../assets/SlotMachine/reel.png" class="reel-image" id="reel-image-3" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-3" id="rolling_reel-image-3" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-11" id="rolling_reel-image-31" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-12" id="rolling_reel-image-32" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-13" id="rolling_reel-image-33" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-14" id="rolling_reel-image-34" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-15" id="rolling_reel-image-35" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-16" id="rolling_reel-image-36" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-17" id="rolling_reel-image-37" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-18" id="rolling_reel-image-38" style="display: none;" />
      <img src="../../assets/SlotMachine/reel.png" class="rolling_reel-image-19" id="rolling_reel-image-39" style="display: none;" />
    </div>
  </div>
  <img style="position:fixed; left: 0; top: 100px; height: 85vh; width: auto;"  src="../../assets/SlotMachine/reel0.png">

  <button (click)="addPoints()" class="add-points-button">Add Daily Login Points</button>
  <button (click)="cheat()" class="add-points-button">Cheat Button?</button>
  <button (click)="DailyLogin()" class="back-button">back</button>
</div>