<div class="row">
  <!-- Left Column for Scores -->
  <div class="col-md-3 marg">
    <h3>MLB Scores</h3>
    <ul class="scores-list">
      <li class="score-item" *ngFor="let game of scores | filterLeague:'MLB'">
        <button class="event-button" *ngIf="game.intHomeScore > game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          <strong>{{ game.strHomeTeam }} - {{ game.intHomeScore }} </strong><br>
          {{ game.strAwayTeam }} - {{ game.intAwayScore }}
        </button>
        <button class="event-button" *ngIf="game.intHomeScore < game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
          <strong>{{ game.strAwayTeam }} - {{ game.intAwayScore }}</strong>
        </button>
        <button class="event-button" *ngIf="game.intHomeScore == game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
          {{ game.strAwayTeam }} - {{ game.intAwayScore }}
        </button>
      </li>
    </ul>
    <h3>NFL Scores</h3>
    <ul class="scores-list">
      <li class="score-item" *ngFor="let game of scores | filterLeague:'NFL'" >
        <button class="event-button" *ngIf="game.intHomeScore > game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          <strong>{{ game.strHomeTeam }} - {{ game.intHomeScore }} </strong><br>
          {{ game.strAwayTeam }} - {{ game.intAwayScore }}
        </button>
        <button class="event-button" *ngIf="game.intHomeScore < game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
          <strong>{{ game.strAwayTeam }} - {{ game.intAwayScore }}</strong>
        </button>
        <button class="event-button" *ngIf="game.intHomeScore == game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
          {{ game.strAwayTeam }} - {{ game.intAwayScore }}
        </button>
      </li>
    </ul>
    <h3>NBA Scores</h3>
    <ul class="scores-list">
      <li class="score-item" *ngFor="let game of scores | filterLeague:'NBA'">
        <button class="event-button" *ngIf="game.intHomeScore > game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          <strong>{{ game.strHomeTeam }} - {{ game.intHomeScore }} </strong><br>
          {{ game.strAwayTeam }} - {{ game.intAwayScore }}
        </button>
        <button class="event-button" *ngIf="game.intHomeScore < game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
          <strong>{{ game.strAwayTeam }} - {{ game.intAwayScore }}</strong>
        </button>
        <button class="event-button" *ngIf="game.intHomeScore == game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
          {{ game.dateEvent }} <br>
          {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
          {{ game.strAwayTeam }} - {{ game.intAwayScore }}
        </button>
      </li>
    </ul>
  </div>

  <div class="col-md-6 marg">
    <h2>Latest American Sports News</h2>
    <ul class="news-list">
      <li *ngFor="let newsItem of topAmericanSportsNews" class="news-item">
        <h3>{{ newsItem.title }}</h3>
        <p>{{ newsItem.description }}</p>
        <a [href]="newsItem.url" target="_blank">Read More</a>
      </li>
    </ul>
  </div>

  <div class="col-md-3 marg">
    <h2>Leaderboards</h2>
    <ul class="leader-list">
      <li class="news-item">
      </li>
    </ul>
  </div>
</div>
