
a:hover {
    background: #e2e2e4;
    border-radius: 5px;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: "Lucida Console", "Courier New", monospace;
}

.navbar-brand {
    margin: 20px;
    font-size: 110%;
    color: #5e2f76;
    font-family: "Lucida Console", "Courier New", monospace;
}


.nav-link {
    margin: 10px;
    color: #6a6a90;
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  