<!-- team-detail.component.html -->
<div class="team-page" *ngIf="team">
  <!-- Display Team Name and Badge -->
  <h1 class="heading">
    <button  class="favorite-button" *ngIf="isLoggedIn" (click)="toggleFavorite(team.idTeam)">
      <img class="star-icon" [src]="isTeamFavorite(team.idTeam) ? 'assets/FavsIcons/unfavorite.png' : 'assets/FavsIcons/favorite.png'" alt="Toggle Favorite" />
    </button>
    {{ team.strTeam }}
    <img class="team-badge" *ngIf="team.strTeamBadge" [src]="team.strTeamBadge" alt="Team Badge"/>
  </h1>
  
  <!-- Display Team Details -->
  <div class="team-details">
    <p>
      <strong>Sport:</strong> {{ team.strSport }}
      <strong>League:</strong> {{ team.strLeague }}
      <strong>Stadium:</strong> {{ team.strStadium }}
      <strong>Founded:</strong> {{ team.intFormedYear }}
    </p>
  </div>

  <!-- Table -->
  <div class="row">
    <div class="col-md-3">

        <!-- Display Upcoming Games -->
        <div class="upcoming-games" *ngIf="upcomingGames.length > 0">
          <h2>Next 5 Games</h2>
          <ul class="event-list">
            <li class="event-item" *ngFor="let game of upcomingGames">
              <button class="event-button" (click)="navigateToEvent(game.idEvent)">
                {{ game.dateEvent }} <br>
                {{ game.strHomeTeam }} <br>
                {{ game.strAwayTeam }}
              </button>
            </li>
          </ul>
        </div>

        <!-- Display Past 5 Games-->
        <div class="past-games" *ngIf="pastGames.length > 0">
          <h2>Past 5 Games</h2>
            <ul class="event-list">
              <li class="event-item" *ngFor="let game of pastGames">
                <button class="event-button" *ngIf="game.intHomeScore > game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
                  {{ game.dateEvent }} <br>
                  <strong>{{ game.strHomeTeam }} - {{ game.intHomeScore }} </strong><br>
                  {{ game.strAwayTeam }} - {{ game.intAwayScore }}
                </button>
                <button class="event-button" *ngIf="game.intHomeScore < game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
                  {{ game.dateEvent }} <br>
                  {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
                  <strong>{{ game.strAwayTeam }} - {{ game.intAwayScore }}</strong>
                </button>
                <button class="event-button" *ngIf="game.intHomeScore == game.intAwayScore" (click)="navigateToEvent(game.idEvent)">
                  {{ game.dateEvent }} <br>
                  {{ game.strHomeTeam }} - {{ game.intHomeScore }} <br>
                  {{ game.strAwayTeam }} - {{ game.intAwayScore }}
                </button>
              </li>
            </ul>
        </div>
      </div>
      <div class="col-md-7">

        <!-- Display Team News -->
        <h2 *ngIf="teamNews != null">Latest News</h2>
        <h2 *ngIf="teamNews == null">No News For Now!</h2>
        <div class="news-item" *ngFor="let newsItem of teamNews">
          <h3>{{ newsItem.title }}</h3>
          <p>{{ newsItem.description }}</p>
          <a [href]="newsItem.url" target="_blank">Read More</a>
        </div>        
      </div>
      
      <div class="col-md-2">

        <!-- Display team players -->
        <h2>Players</h2>
        <ul class="player-list">
          <li class="player-item" *ngFor="let player of players">
            <button class="player-button" (click)="navigateToPlayer(player.idPlayer)">
              {{ player.strPlayer }}
            </button>
          </li>
        </ul>
      </div>
    </div>
</div>