.team-page{
  background-color: #f2f2f2;
}

.heading {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 25%;
  margin-left: 25%;
  padding: 10px;
}

.star-icon {
  width: 40px;
  height: 40px;
}

.favorite-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.team-badge {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

h2 {
  text-align: center;
}

.team-details {
  text-align: center;
}

.event-list {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
}

.event-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: left;
}

.event-item:last-child {
  border-bottom: none;
}

.event-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: inherit;
}

.event-button:hover {
  background-color: #f0f0f0;
}

/* News Column */

.news-item {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 7px;
}

.news-item p {
  margin-left: 8px;
}

.news-item h3 {
  font-size: 150%;
  text-align: left;
  margin-left: 8px;
}

.news-item a {
  color: #007bff;
  text-decoration: none;
  margin-left: 8px;
}

/* Player Column */

.player-list {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
}

.player-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: center;
}

.player-item:last-child {
  border-bottom: none;
}

.player-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.player-button:hover {
  background-color: #f0f0f0;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}
