<div *ngIf="player">

  <h1>
    {{ player.strPlayer }}
    <img class="player-img" *ngIf="player.strCutout" [src]="player.strCutout" alt="Player Image" />
  </h1>

  <div class="player-details">
    <p>
      <strong>Sport:</strong> {{ player.strSport }}
      <strong>Team:</strong> {{ player.strTeam }}
      <strong>Position:</strong> {{ player.strPosition }}
      <strong>Nationality:</strong> {{ player.strNationality }}
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Player Schedule</h2>
      </div>

      <div class="col-md-7">
        <h2>Player Stats</h2>
      </div>
    </div>
  </div>
</div>
