.player-page{
  background-color: #f2f2f2;
}

.heading {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 25%;
  margin-left: 25%;
  padding: 10px;
}
  
  h2 {
    text-align: center;
  }
  
.player-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.player-details {
    text-align: center;
}

.schedule {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}
  
.schedule h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding-bottom: 1%;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
  
.schedule ul {
  list-style-type: none;
  padding: 0;
}
  
.schedule li {
  margin-bottom: 10px;
}

.event-list {
  text-align: center;
}

.event-item {
  display: inline-block;
  margin-right: 20px; 
}

.event-button {
  display: block; /* Set the button to block-level to fill the item width */
  margin: 0; /* Reset margin to eliminate extra space */
  padding: 0; /* Reset padding to eliminate extra space */
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: inherit;
}

.event-button:hover {
background-color: #f0f0f0;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}

.player-honors {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
}

.honor-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: center;
}

.honor-item:last-child {
  border-bottom: none;
}

.past-teams {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
}

.team-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: center;
}

.team-item:last-child {
  border-bottom: none;
}

.player-milestones {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
}

.milestone-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: center;
}

.milestone-item:last-child {
  border-bottom: none;
}