h1 {
    text-align: center;
    background-color: #ccc;
  }
  
  h2 {
    text-align: center;
  }
  
.player-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.player-details {
    text-align: center;
}