h1 {
    text-align: center;
    background-color: #ccc;
  }
  
  h2 {
    text-align: center;
  }
  
.player-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.player-details {
    text-align: center;
}

.schedule {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}
  
.schedule h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
  
.schedule ul {
  list-style-type: none;
  padding: 0;
}
  
.schedule li {
  margin-bottom: 10px;
}

.event-list {
  text-align: center;
}

.event-item {
  display: inline-block;
  margin-right: 20px; 
}

.event-button {
  display: block; /* Set the button to block-level to fill the item width */
  margin: 0; /* Reset margin to eliminate extra space */
  padding: 0; /* Reset padding to eliminate extra space */
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: inherit;
}

.event-button:hover {
background-color: #f0f0f0;
}

.col-md-4 {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 10px;
}

.col-md-4 h2 {
font-size: 1.2rem;
margin-bottom: 10px;
border-bottom: 1px solid #ccc;
}

.col-md-4 ul {
list-style-type: none;
padding: 0;
}

.col-md-4 li {
margin-bottom: 10px;
}

.col-md-3 {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 10px;
}

.col-md-3 h2 {
font-size: 1.2rem;
margin-bottom: 10px;
border-bottom: 1px solid #ccc;
}

.col-md-3 ul {
list-style-type: none;
padding: 0;
}

.col-md-3 li {
margin-bottom: 10px;
}