<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="onSearchInput()"
    (blur)="onSearchBlur()"
    (keydown.enter)="onSearchEnter()"
    placeholder="Search..."
  />
  <div class="search-results" *ngIf="showResults && searchQuery">
    <div class="result-box" *ngFor="let result of searchResults" (click)="onResultClick(result.idTeam)">
      <img class="team-badge" *ngIf="result.strTeamBadge" [src]="result.strTeamBadge" alt="Team Badge"/>
      {{ result.strTeam }}
    </div>
  </div>
</div>
