<!-- league-detail.component.html -->
<div *ngIf="leagueDetails">
  <h1>
    {{ leagueDetails.strLeague }}
    <img class="league-badge" *ngIf="leagueDetails.strBadge" [src]="leagueDetails.strBadge" alt="League Badge"/>
  </h1>

  <div class="team-details">
    <p>
      <strong>Sport:</strong> {{ leagueDetails.strSport }}
      <strong>Country:</strong> {{ leagueDetails.strCountry }}
      <strong>Year Formed:</strong> {{ leagueDetails.intFormedYear }}
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <!-- Display League Schedule -->
        <h2>Schedule</h2>
        <div class="upcoming-events" *ngIf="leagueNextFifteen.length > 0">
          <h2>Upcoming Events</h2>
          <ul>
            <li *ngFor="let game of leagueNextFifteen">
              {{ game.dateEvent }} <br> {{ game.strEvent }}
            </li>
          </ul>
        </div>

        <!-- Display Past 5 Games-->
        
      </div>
      
      <div class="col-md-7">
        <!-- Display League News -->
        <h2>League News</h2>
        <div class="news-item" *ngFor="let newsItem of leagueNews">
          <h3>{{ newsItem.title }}</h3>
          <p>{{ newsItem.description }}</p>
          <a [href]="newsItem.url" target="_blank">Read More</a>
        </div>        
      </div>        


      <div class="col-md-2">

        <!-- Display league standings -->
        <h2>League Standings</h2>
        <div *ngIf="leagueTable.length > 0">
          <ul class = "league-table">
            <li class="league-team" *ngFor="let team of leagueTable">
              <button class="team-button" (click)="navigateToTeam(team.idTeam)">
                {{ team.intRank }} - {{ team.strTeam }}
              <img class="team-badge" *ngIf="team.strTeamBadge" [src]="team.strTeamBadge" alt="Team Badge"/>
              </button>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
