h1, h2 {
    text-align: center;
    background-color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
}


.heading {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 25%;
  margin-left: 25%;
  padding: 10px;
}

.league-page {
  background-color: #f2f2f2;
}
  
.league-badge {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.league-details {
    text-align: center;
}

/* Schedule Column */
    
.event-list {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
}

.event-item {
  border-bottom: 1px solid #ccc;
  padding: 3%;
  text-align: left;
}

.event-item:last-child {
  border-bottom: none;
}

.event-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: inherit;
}

.event-button:hover {
  background-color: #f0f0f0;
}

/* News Column */
.news-item {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 7px;
}

.news-item p {
  margin-left: 8px;
}

.news-item h3 {
  font-size: 150%;
  text-align: left;
  margin-left: 8px;
}

.news-item a {
  color: #007bff;
  text-decoration: none;
  margin-left: 8px;
}

/* League Table Column */
.league-table {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .league-team {
    border-bottom: 1px solid #ccc;
    padding: 3%;
    text-align: left;
  }
  .league-team:last-child {
    border-bottom: none;
  }

  .league-teams {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .team-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  
  .team-button:hover {
    background-color: #f0f0f0;
  }

  .team-badge {
    width: 17px;
    height: 17px;
    margin-right: 2px;
  }

.row {
  margin-left: 5%;
  margin-right: 5%;
}