<!-- league-detail.component.html -->
<div class="league-page" *ngIf="leagueDetails">
  <h1 class="heading">
    {{ leagueDetails.strLeague }}
    <img class="league-badge" *ngIf="leagueDetails.strBadge" [src]="leagueDetails.strBadge" alt="League Badge"/>
  </h1>

  <div class="team-details">
    <p>
      <strong>Sport:</strong> {{ leagueDetails.strSport }}
      <strong>Country:</strong> {{ leagueDetails.strCountry }}
      <strong>Year Formed:</strong> {{ leagueDetails.intFormedYear }}
    </p>
  </div>

    <div class="row">
      <div class="col-md-2" *ngIf="leagueNextFifteen != null">

        <!-- Display League Schedule -->
        <h2>Schedule</h2>
        <div *ngIf="leagueNextFifteen">
          <ul class="event-list">
            <li class="event-item" *ngFor="let game of leagueNextFifteen">
              <button class="event-button" (click)="navigateToEvent(game.idEvent)">
                {{ game.dateEvent }} <br>
                {{ game.strHomeTeam }} <br>
                {{ game.strAwayTeam }}
              </button>
            </li>
          </ul>
        </div>

        <!-- Display Past 5 Games-->
        
      </div>
      
      <div class="col-md-7">
        <!-- Display League News -->
        <h2 *ngIf="leagueNews != null">League News</h2>
        <h2 *ngIf="leagueNews == null">No League News For Now!</h2>
        <div class="news-item" *ngFor="let newsItem of leagueNews">
          <h3>{{ newsItem.title }}</h3>
          <p>{{ newsItem.description }}</p>
          <a [href]="newsItem.url" target="_blank">Read More</a>
        </div>        
      </div>        


      <div class="col-md-3" *ngIf="leagueTable != null">

        <!-- Display league standings -->
        <h2 *ngIf="leagueTable != null">League Standings</h2>
        <div *ngIf="leagueTable != null">
          <ul class = "league-table">
            <li class="league-team" *ngFor="let team of leagueTable">
              <button class="team-button" (click)="navigateToTeam(team.idTeam)">
                {{ team.intRank }} - 
                <img class="team-badge" *ngIf="team.strTeamBadge" [src]="team.strTeamBadge" alt="Team Badge"/>
                {{ team.strTeam }}
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3" *ngIf="leagueTable == null">

        <h2 *ngIf="leagueTable == null">League Teams</h2>
        <div *ngIf="leagueTable == null">
          <ul class = "league-teams">
            <li class="league-team" *ngFor="let team of leagueTeams">
              <button class="team-button" (click)="navigateToTeam(team.idTeam)">
                <img class="team-badge" *ngIf="team.strTeamBadge" [src]="team.strTeamBadge" alt="Team Badge"/>
                 {{ team.strTeam }}
              </button>
            </li>
          </ul>
        </div>


      </div>

    </div>
  </div>