<div class="container">
  <div class="top-bar">
    <a (click)="dailyLogin()">
      <div class="user-points">
        <img src="assets/icon.png" alt="Points Icon">
        <span>{{ data.points }}</span>
      </div>
    </a>
  </div>

  <div class="left-side">
    <ng-container *ngIf="data.profileID; else defaultProfile">
      <img class="profile-picture" [src]="'assets/profilePic' + data.profileID + '.png'" alt="Profile Picture">
    </ng-container>
    <ng-template #defaultProfile>
      <img class="profile-picture" src="assets/profilePic.png" alt="Default Profile Picture">
    </ng-template>
    <h2>Welcome {{ data.name }}</h2>
  </div>

  <div class="right-side">
    <p>Name: {{ data.name }}</p>
    <p>Email: {{ data.email }}</p>
    <p>User Points: {{ data.points }}</p>
    <p>Favorite Sport: {{ data.favorite_sport }}</p>
    <p>Description: </p>
    <div class="description-box">
      <span>{{ data.description }}</span>
    </div>
  </div>
</div>

<button (click)="ProfileEditt()" class="edit-button">Edit Profile</button>
<button (click)="logout()" class="logout-button">Log out</button>